* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 2em;
}

body {
	color: #ffffff;
	font: 16px/1.5 Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
p,
pre,
ul {
	margin: 0;
	padding: 0;
}
img{width: 1400px; height: 100%;}
h1 {
	font-size: 48px;
	line-height: 0;
	margin-bottom: 0em;
}

h2 {
	font-size: 24px;
	line-height: 0;
	margin-bottom: 0em;
}

h3 {
	font-size: 16px;
	line-height: 0;
	margin-bottom: 0em;
}

p,
pre,
ul {
	margin-bottom: 0em;
}

pre {
	background: #000000;
	border: 1px solid #000000;
	overflow-x: auto;
	padding: 0em;
}

ul {
	margin-left: 1em;
}

#nav {
	left: 20px;
	list-style: none;
	margin: 0;
	position: fixed;
	top: 20px;
}

#nav li {
	margin-bottom: 9px;
}

#nav a {
	
	color: #000000;
	display: block;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav a:hover {
	background: #000000;
	color: #ffffff;
}

#nav .current a {
	background: #000000;
	color: #ffffff;
}

#container {
	margin: 0 auto;
	
}

.section {
	border-bottom: 5px solid #ffffff;
	min-height: 60vh;
	padding: 50px 20px;
}

.section p:last-child {
	margin-bottom: 0;
}